/**
 * Site common styles
 */

@include icheck-flat("dark-grey", transparent);

body {
    @include _transition(all 0.2s ease-in-out);
    &.table-comparison {
        .post-content {
            table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                thead th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #eceeef;
                }
                th {
                    text-align: left;
                }
                th, td {
                    padding: .75rem;
                    vertical-align: top;
                    border-top: 1px solid #eceeef;
                    width: 20%;
                }
                tr {
                    th, td {
                        &:first-child {
                            width: 60%;
                        }
                    }
                }
                tbody tr:nth-of-type(odd) {
                    background-color: rgb(236, 238, 239);
                }
            }
            ol, ul {
                margin-left: 0px;
                list-style: none;
                display: table;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
            ol {
                text-align: center;
                margin-bottom: 20px;
                >li {
                    display: block;
                    @include responsive($media-xsmall) {
                        display: table-cell;
                        vertical-align: top;
                        width: 33.33%;
                    }
                }
            }
        }
    }
}

#markdown-toc, #toc-generated {
    display: none;
}
/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    .text-highlighted {
        cursor: pointer;
        border-bottom: $highlighted-border;
        @include _transition(all 0.2s ease-in-out);
        &:hover {
            color: $highlighted-selected-color;
        }
        &.text-selected {
            color: $highlighted-selected-color;
        }
    }
    .code-display {
        margin-top: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: -100%;
        right: auto;
        background: #010814;
        background: rgba(1, 8, 20, 0.85);
        margin-top: 0;
        visibility: hidden;
        &.active {
            visibility: visible;
            left: 0;
            right: 0;
        }
        .show-highlighted-text {
            margin-top: 0px;
            font-size: 14.5px;
            color: $white;
            @include _transition(all 0.2s ease-in-out);
            position: absolute;
            padding: 15px;
            z-index: 2;
            @include responsive($media-small) {
                //bottom: 105px;
                padding: 70px;
                font-size: 16.5px;
            }
            @include responsive($media-tablet) {
                padding: 40px;
                padding-top: 90px;
                font-size: 17.5px;
            }
            @include responsive($media-desktop) {
                padding: 70px;
                padding-top: 168px;
                font-size: 21.5px;
            }
            h1 {
                font-size: 30px;
                color: $highlighted-selected-color;
                text-transform: capitalize;
                margin-bottom: 15px;
                @include responsive($media-small) {
                    font-size: 40px;
                    margin-bottom: 40px;
                }
                @include responsive($media-tablet) {
                    font-size: 44px;
                }
                @include responsive($media-desktop) {
                    font-size: 66px;
                }
            }

            >p {
                max-height: 340px;
                overflow: hidden;
                line-height: 1.5;
            }
        }
    }
    .min-300 {
        min-height: 300px;
    }
    .overlay-video-btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        border: 0 none;
        box-shadow: none;
        @include _prefixer(appearance, none);
    }
    .full-video-modal {
        &.modal.in {
            padding-right: 0 !important;
        }
        .modal-header {
            padding: 0;
            border-bottom: 0;
            button.close {
                position: absolute;
                right: 15px;
                top: 17px;
                z-index: 1;
                background: #404040;
                width: 40px;
                height: 40px;
                @include opacity(1);
                font-size: 28px;
                color: #fff;
                &:hover {
                    background: #6f6f6f;
                }
            }
        }
        .modal-dialog {
            max-width: none;
            margin: 0;
            padding: 0px;
        }
        .modal-dialog, .modal-content, .modal-body {
            width: 100%;
            height: 100%;
        }
        .modal-body {
            padding: 0;
            .embed-responsive {
                padding: 0;
                height: 100%;
            }
        }
    }

    .grid-item {
        overflow: hidden;
        max-height: 421px;
        margin-bottom: 21px;
        padding-left: 10.5px;
        padding-right: 10.5px;
    }

    .home {
        .min-300 {
            margin-bottom: 20px;
        }

        .demo-content {
            h1 span {
                color: $text-color;
            }

            h4 {
                color: #7d7d7d;
                margin-bottom: 45px;
                font-size: 20px;

                @include responsive($media-small) {
                    font-size: 22px;
                }
                @include responsive($media-tablet) {
                    font-size: 26px;
                }
                @include responsive($media-desktop) {
                    font-size: 30px;
                    margin-bottom: 55px;
                }
            }
            .embed-responsive.video-container {
                position: relative;
                border: 1px solid transparent;
                border-top: 0;

                @include responsive($media-tablet) {
                    top: -176px;
                    min-height: 502px;
                }
                .video-mask {
                    position: absolute;
                    z-index: 3;
                    bottom: -2px;
                    left: 0;
                    right: -1px;
                    img {
                        min-width: 100%;
                    }
                }
                .aicon.icon-play {
                    position: absolute;
                    top: 50%;
                    margin-top: -16px;
                    left: 0;
                    right: 0;
                    height: 50px;
                    width: 50px;
                    margin: 0 auto;
                }
                .video-image-overlay {
                    @include _prefixer(background-size, cover);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            .code-display .show-highlighted-text {
                h1 {
                    font-size: 30px;
                    margin-bottom: 15px;
                    @include responsive($media-small) {
                        font-size: 40px;
                        margin-bottom: 40px;
                    }
                    @include responsive($media-tablet) {
                        font-size: 44px;
                    }
                    @include responsive($media-desktop) {
                        font-size: 66px;
                    }
                }
            }
            .btn.try-demo-btn {
                @extend .app-btn.btn-arrow;
            }
        }

        .block-lists.site-list {
            padding: 20px 0;
            margin-top: 20px;
            @include responsive($media-small) {
                margin-top: 45px;
            }
            @include responsive($media-tablet) {
                margin-top: 55px;
            }
            @include responsive($media-desktop) {
                margin-top: 115px;
            }
            >h1 {
                span {
                    color: $secondaryColor;
                }
            }
            >h4 {
                color: #7d7d7d;
            }
            ul {
                list-style: none;
                margin-left: 0;
                margin-right: 0;
                li {
                    &.col-lg-6.col-sm-12.col-xs-24 {
                        padding-left: 0px;
                        padding-right: 20px;
                    }
                    >a {
                        display: block;
                        text-decoration: none;
                    }
                }
            }
            .bx-wrapper {
                .bx-pager.bx-default-pager {
                    bottom: -60px;
                    a.active {
                        background: $secondaryColor;
                    }
                }
                .bx-controls-direction {
                    display: none;
                }
            }
        }

        .site-item-list {
            margin-top: 20px;
            @include responsive($media-small) {
                margin-top: 80px;
            }
            @include responsive($media-tablet) {
                margin-top: 0px;
            }
            .grid-website {
                position: relative;
                display: block;
                //flex-wrap: nowrap;
                img {
                    width: 100%;
                }
                .grid-item {
                    a {
                        position: relative;
                        @include _transition(all 0.5s ease-in-out);
                        display: block;
                        overflow: hidden;
                        &::after {
                            content: "";
                            position: absolute;
                            @include _transition(all 0.5s ease-in-out);
                            left: 0px;
                            right: 0px;
                            bottom: 0;
                            top: 0;
                            z-index: 0;
                            background: -moz-linear-gradient(top, rgba(252,252,252,0) 0%, rgba(252,252,252,0.01) 1%, rgba(0,0,0,0.8) 80%);
                            background: -webkit-linear-gradient(top, rgba(252,252,252,0) 0%, rgba(252,252,252,0.01) 1%, rgba(0,0,0,0.8) 80%);
                            background: linear-gradient(to bottom, rgba(252,252,252,0) 0%, rgba(252,252,252,0.01) 1%, rgba(0,0,0,0.8) 80%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcfcfc', endColorstr='#cc000000',GradientType=0 );
                            visibility: hidden;
                        }
                        .grid-title {
                            position: absolute;
                            bottom: -44px;
                            z-index: 1;
                            width: 100%;
                            left: 0;
                            right: 0;
                            padding: 0 25px;
                            color: $white;
                            @include _transition(all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55));
                            @include _font_size(9);
                            font-weight: bold;
                            line-height: 1.4;
                            visibility: hidden;
                            @include responsive($media-tablet) {
                                @include _font_size(16);
                            }
                        }
                        &:hover {
                            &::after {
                                visibility: visible;
                            }
                            .grid-title {
                                visibility: visible;
                                bottom: 10px;
                            }
                        }
                    }
                }
            }
            .site-text {
                max-width: 665px;
                h1 {
                    font-size: 50px;
                    color: #9d9d9d;
                    letter-spacing: -3px;
                    @include _transition(all 0.5s ease-in-out);
                    @include responsive($media-small) {
                        font-size: 68px;
                        margin-top: 60px;
                    }
                    @include responsive($media-tablet) {
                        font-size: 98px;
                        letter-spacing: -7px;
                    }
                    @include responsive($media-desktop) {
                        font-size: 117px;
                        margin-top: 80px;
                    }
                    @include responsive($media-custom, $custom-screen-1400) {
                        font-size: 142px;
                        margin-top: 160px;
                    }
                    @include responsive($media-custom, $custom-screen-1600) {
                        font-size: 146px;
                    }
                    span {
                        color: $primaryColor;
                    }
                }
                .image-arrow {
                    img {
                        width: 100px;
                        @include responsive($media-tablet) {
                            width: 150px;
                        }
                        @include responsive($media-desktop) {
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .home-site-item {
        display: table;
        position: relative;
        height: 590px;
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;
        &:hover {
            .block-content {
                u {
                    text-decoration: underline;
                }
            }
            .block-image::before {
                @include opacity(0.15);
            }
        }
        .block-header {
            display: block;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            text-align: center;
            padding: 0 15px;
            >span {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                background-color: $secondaryColor;
                color: $white;
                font-size: 16px;
            }
        }
        .block-image {
            @include responsive-image();
            z-index: -1;
            img {
                width: 316px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: #000;
                @include opacity(0);
                @include _transition(all 0.2s ease-in-out);
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
        .block-content {
            display: table-cell;
            vertical-align: bottom;
            color: $white;
            text-align: center;
            padding: 0 32px 35px;
            font-size: 20px;

            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.04) 10%, rgba(0,0,0,0.11) 21%, rgba(0,0,0,0.59) 79%, rgba(0,0,0,0.66) 90%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 10%,rgba(0,0,0,0.11) 21%,rgba(0,0,0,0.59) 79%,rgba(0,0,0,0.66) 90%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 10%,rgba(0,0,0,0.11) 21%,rgba(0,0,0,0.59) 79%,rgba(0,0,0,0.66) 90%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

            u {
                text-decoration: none;
            }
        }
        .block-text {
            line-height: 1.3em;
            display: inline-block;

            p {
                margin-bottom: 20px;
            }

            .block-helped {
                margin-bottom: 0;
            }
        }
        .block-helped {
            font-size: 0.75em;
            margin-bottom: 0;
            .glyphicon {
                color: $secondaryColor;
            }
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    line-height: 1;

    @include responsive($media-tablet) {
        font-size: 66px;
    }

    @include responsive($media-desktop) {
        font-size: 66px;
    }
}

.toggle-details {
    display: none;
    font-size: 0.8em;
    &.has-no-plan {
        display: none !important;
    }
}