---
layout: home-page
---
<div class="home">

  <article>
    <section class="clearfix demo-content">
      <div class="row">
        <aside class="col-lg-12 col-xs-24 min-300">
          <h1>{% include _formatter/text-highlighted.html text="Integrate" data-text="A fully integrated management database, online enrolment website and portal is included in your standard onCourse package, out of the box. From there, switch on integrations with survey tools, mailing list management services, learning management systems and finance software. And if you need a custom integration, you can have that too - with our API and onCourse DSL (an entire development language baked in)." %}

          with everything and

          {% include _formatter/text-highlighted.html text="automate" data-text="Need automated communication to your students and staff? Consider it done. Completely customisable scripts, reports, imports, exports and email templates give you the ultimate power and flexibility in implementing your own business workflow." %}

          your manual processes. We create

          {% include _formatter/text-highlighted.html text="beautiful websites." data-text="Start with one of our modern, responsive templates and then customise to your heart's content. With an advanced architecture built to maximise your SEO, exceptional Solr faceted search engine and an enrolment ready shopping cart, you'll be processing online sales within minutes of sending your site live." %}
          </h1>

          <h4>onCourse is the

          {% include _formatter/text-highlighted.html text="comprehensive" data-text="Track your students from initial enquiry, to application, enrolment, invoicing and payment. Follow their training, assessments and certification. onCourse includes unlimited document storage, sophisticated finance and budgeting and a robust communications platform." %}

          {% include _formatter/text-highlighted.html text="online enrolment" data-text="Publish courses online with a single click and watch in real time as applications, enrolments and payments stream into your system. Your students access the integrated portal to download learning and assessment documents, are reminded of upcoming classes and locations and honour their payment plans day and night." %}

          and

          {% include _formatter/text-highlighted.html text="marketing system" data-text="You need to see what courses work and what don't, and then do something about it. Send SMS and emails crafted to a student's interests and history, inviting them to re-engage with you. Offer differentiated pricing for every type of student with discounts, promotional codes, early bird discounts, gift certificates and vouchers. onCourse gives you a whole bunch of tools to target each student's individual needs." %}

          for all

          {% include _formatter/text-highlighted.html text="education providers" data-text="For government and commercial, for big and for small, our scalable and clustered cloud technology means your services stay online. Whether you are a Registered Training Organisation (RTO) in the contestable funding market space, or are a fee-for-service provider who has no need to know about acronyms like AVETMISS, CRICOS and VET Fee Help, onCourse has you covered." %}
          </h4>

          <p><a href="{{ site.baseurl }}/demo" class="btn btn-secondary app-btn try-demo-btn" role="button">Try the Demo</a></p>
        </aside>
        <aside class="col-lg-12 col-xs-24 min-300">
          {% include _formatter/video.html background-src="http://player.vimeo.com/external/123903662.sd.mp4?s=7b4d8e6fb87ff2a9b2018c7d74edee34" video-id="S89TcY2KbVk" width="560" height="700" id="home" type="default" type-modal="youtube" %}
        </aside>
      </div>
    </section>

    <section class="clearfix site-item-list">
      <div class="col-md-12 pull-md-right">
        <div class="site-text pull-md-right">
          <h1>We make this
            <span>
              possible.
            </span>
          </h1>
          <div class="image-arrow hidden-sm-down">
            <img src="{{ site.baseurl }}/assets/img/icons/icon-rounded-line.png" />
          </div>
        </div>
      </div>
      <div class="col-md-12 pull-md-left">
        <div class="row grid-website grid--clickable">
          <div class="col-sm-16 grid-item">
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/front/img-1.jpg" />
              <span class="grid-title">
                WEAHunter<br>
                Quality Learning
              </span>
            </a>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-24 grid-item grid-item--height2">
                <a href="#">
                  <img src="{{ site.baseurl }}/assets/img/front/img-2.jpg" />
                  <span class="grid-title text-xs-right">
                    Byron Community College
                  </span>
                </a>
              </div>
            </div>
            <div class="row space-top-24">
              <div class="col-md-24 grid-item grid-item--height2">
                <a href="#">
                  <img src="{{ site.baseurl }}/assets/img/front/img-3.jpg" />
                  <span class="grid-title text-xs-right">
                    NIDA
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row grid-website grid--clickable">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-24 grid-item grid-item--height2">
                <a href="#">
                  <img src="{{ site.baseurl }}/assets/img/front/img-4.jpg" />
                  <span class="grid-title text-xs-right">
                    Sydney Community College
                  </span>
                </a>
              </div>
            </div>
            <div class="row space-top-24">
              <div class="col-md-24 grid-item grid-item--height2">
                <a href="#">
                  <img src="{{ site.baseurl }}/assets/img/front/img-5.jpg" />
                  <span class="grid-title text-xs-right">
                    Juan Rando Dance Academy
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-16 grid-item">
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/front/img-6.jpg" />
              <span class="grid-title">
                Sydney University<br>
                Center for Continuing Education
              </span>
            </a>
          </div>
        </div>

        <div class="row grid-website grid--clickable">
          <div class="col-sm-8 grid-item">
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/front/img-7.jpg" />
              <span class="grid-title text-xs-right">
                CITYEAST Community College
              </span>
            </a>
          </div>
          <div class="col-sm-8 grid-item grid-item--height2">
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/front/img-8.jpg" />
              <span class="grid-title text-xs-right">
                Central Coast Community College
              </span>
            </a>
          </div>
          <div class="col-sm-8 grid-item grid-item--height2">
            <a href="#">
              <img src="{{ site.baseurl }}/assets/img/front/img-9.jpg" />
              <span class="grid-title text-xs-right">
                Macquarie Community College
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="clearfix block-lists site-list">
      <h1>onCourse <span>in action</span></h1>
      <h4>Learn how onCourse helped revolutionise<br>course delivery for our clients</h4>
      <br><br>
      <ul class="row">
        {% for panel in site.data.front-panels %}
          {% include _formatter/home-block.html panel=panel %}
        {% endfor %}
      </ul>
    </section>

  </article>

</div>