<footer>
  <div class="footer-top">
    <div class="container">
      <div class="col-sm-24">
        <h3>Try onCourse now</h3>
        <a href="/demo" class="btn app-btn btn-info btn-arrow btn-white">Demo</a>
      </div>
    </div>
  </div>
  <div class="container footer-bottom">
    <div class="row">
      <div class="col-md-24">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-24 address-block">
            <h4><span>Contact</span>&nbsp;&nbsp;<img src="{{ site.baseurl }}/assets/img/icons/ish-logo.png" /></h4>
            Sydney <a href="tel:+61 2 9550 5001">02 9550 5001</a><br>
            Melbourne <a href="tel:+61 3 9999 1033">03 9999 1033</a><br>
            <a href="mailto:info@ish.com.au">info@ish.com.au</a>
          </div>

          <div class="col-lg-6 col-sm-12 col-xs-24">
            <h4>Products</h4>
            <ul>
              <li><a href="{{ site.baseurl }}/features/student_management_system">onCourse SMS</a></li>
              <li><a href="{{ site.baseurl }}/features/portal">onCourse portal/LMS</a></li>
              <li><a href="{{ site.baseurl }}/features/website">onCourse website</a></li>
              <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-sm-12 col-xs-24">
            <h4>Resources</h4>
            <ul>
              <li><a href="{{ site.baseurl }}/onCourse/doc/latest/manual/">Documentation</a></li>
              <li><a href="{{ site.baseurl }}/onCourse/doc/latest/api/">API Documentation</a></li>
              <li><a href="{{ site.baseurl }}/support/">Support</a></li>
              <li><a href="{{ site.baseurl }}/about/">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-sm-12 col-xs-24">
            <!-- <a role="button" href="http://eepurl.com/_FU1f" class="btn btn-secondary">Subscribe to our monthly newsletter</a> -->
            <h4>Receive our newsletter</h4>
            <form class="form-horizontal form-newsletter">
              <div class="row">
                <div class="form-group col-xs-12 padr-2-5">
                  <input type="text" class="form-control" name="first_name" placeholder="First Name">
                </div>
                <div class="form-group col-xs-12 padl-2-5">
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-24">
                  <input type="email" class="form-control" name="last_name" placeholder="Email">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-24">
                  <div class="row form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="last_name" class="form-check-input">&nbsp;
                      Please contact me about onCourse
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-24">
                  <button type="submit" class="btn app-btn btn-warning" name="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24">
        <p>©{{ 'now' | date: "%Y" }} ish pty ltd</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="{{ site.baseurl }}/assets/site.js"></script>